/* RESET */

html, body, h1, figure, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: fantasy;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background: rgb(214, 183, 139);
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 50px;
  padding: 20px;
}

.ttt ul {
  width: 360px;
  margin: auto;
  padding: 10px;
}

.ttt li.clicked {
  background: lightblue;
  cursor: default;
}

.ttt li.clicked:hover {
  transform: none;
}

.ttt li {
  float: left;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  background: pink;
  line-height: 100px;
  cursor: pointer;
  border-radius: 10%;
  margin: 4px;
  box-shadow: 3px 3px 15px black;
  transition: transform .5s, box-shadow .5s;
}

.ttt li:hover {
  transform: translate(2px, 2px);
  transition: transform .2s, box-shadow .2s;
  box-shadow: 1px 1px 15px black;
}

body > p {
  line-height: 1px;
}
