/* RESET */

html, body, h1, figure, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
  font-family: fantasy;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}

.ttt ul {
  border: 1px solid black;
  width: 306px;
  margin: auto;
}

.ttt li.clicked {
  background: lightblue;
}

.ttt li {
  border: 1px solid blue;
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  background: pink;
  line-height: 100px;
}

.ttt li:hover {
  background: red;
}

body > p {
  font-weight: bold;
  font-size: 100px;
  font-family: fantasy;
  text-align: center;
  line-height: 1px;
}
